<div class="navbar navbar-expand-lg navbar-dark bg-dark sticky-xl-bottom">
    <div class="container-fluid navbar-dark">
        <a class="navbar-brand" href="#">Footer for BootstrApp</a>
    </div>
</div>